
//    Font Family

$primary-font	: 'Raleway', sans-serif;
$text-font      : 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #addff1;
$primary-color2 : #75d5e7;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #000;






